.container {
  display: flex;
  align-items: center;
}

.level {
  flex: 1;
}

.details {
  flex: 4;
  border-left: 1px solid black;
  flex-direction: column;
  padding: 0 1em;
}

.section {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.innerSection {
  flex: 4;
}

p {
  flex: 1;
}

input {
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
}
