.container {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px black;
  text-align: center;
  padding: 3px;
  margin: 5px;
  margin-bottom: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}

.innerContainer {
  display: flex;
  flex-direction: column;
}
